body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: gray;
  padding: 30px;
  border-radius: 22px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  text-align: center;
  width: 450px;
}

h1 {
  color: #333;
  margin-bottom: 40px;
}

input[type="number"] {
  padding: 8px;
  width: 80%;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.buttons {
  margin: 15px 0;
}

button {
  padding: 10px 15px;
  margin: 5px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

#startBtn {
  background-color: #4CAF50;
  color: white;
}

#resetBtn {
  background-color: #f44336;
  color: white;
}

.result {
  margin-top: 20px;
}

#piResult {
  word-wrap: break-word;
  text-align: left;
  font-size: 26px;
}

